[% page_title = "Hardware Inventory System: Status" %]
[% INCLUDE header.tt %]

[% IF type %]<div id='[% type %]'>[% ELSE %]<div>[% END %]
<p>[% status %]</p>
<p class='smalltext'>Redirecting in [% redirect %] seconds to [% action %]</p>
</div>
[% INCLUDE footer.tt %]
